/* -------------------- To-Do Form -------------------- */

.form-container {
margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: space-between;
}

.form-div {
    display: flex;
    padding: 10px;
    width: 100%;
}

.form-div.add {
    justify-content: flex-start;
    align-items: baseline;
    width: 80%;
}

.form-div.complete {
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
}

input[type=text] {
    padding: 8px;
    width: 70%;
    max-width: 1500px;
    border: none;
    border-bottom: 5px dotted #030301;
    font-size: 4rem;
    font-weight: 700;
}

input[type="text"]::placeholder {
    color: #00D9C0;
}

input[type=text]:focus {
    background-color: #00D9C0;
    color: black;
    outline: none;
}

input[type=text]:focus::placeholder {
    color: white;
}

.btn {
    padding: 10px 15px;
    margin-left: 20px;
    margin-top: 5px;
    background: #00D9C0;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    border: none;
}

.btn:hover {
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn.clear-all {
    background: #FF4365;
}

/* -------------------- To-Do List -------------------- */

.to-do-list {
    border: 1px solid red;
    min-height: 100px;
}

/* -------------------- To-Do -------------------- */
.to-do {
    cursor: pointer;
    padding: 10px;
}

.to-do.true {
    text-decoration: line-through;
}

.to-do.false {
    text-decoration: none;
}